USE [master]
GO
/****** Object:  Database [PROJECTc#]    Script Date: 7/23/2021 10:18:23 PM ******/

Create database [PROJECTc#]
USE [PROJECTc#]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/23/2021 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](max) NULL,
 CONSTRAINT [PK__Admin__3214EC27A866A1B1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendence]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendence](
	[AttendID] [int] IDENTITY(1,1) NOT NULL,
	[TeachID] [int] NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[isabsent] [bit] NOT NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attendence] PRIMARY KEY CLUSTERED 
(
	[AttendID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[date] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Class__A25C5AA67AC7FDC6] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateClass]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateClass](
	[dateID] [nvarchar](50) NOT NULL,
	[Start] [date] NOT NULL,
	[end] [date] NOT NULL,
 CONSTRAINT [PK_DateClass] PRIMARY KEY CLUSTERED 
(
	[dateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[departid] [nvarchar](50) NOT NULL,
	[departName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[departid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List_Class_Student]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List_Class_Student](
	[stuid] [nvarchar](50) NOT NULL,
	[classid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[ID] [int] NOT NULL,
	[Timestart] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
 CONSTRAINT [PK__Slot__3214EC27F67006DF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Major] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DOB] [date] NULL,
	[Phone] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK__Student__3214EC278BC63ECF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectCode] [nvarchar](50) NOT NULL,
	[SubjectName] [nvarchar](max) NOT NULL,
	[DepartID] [nvarchar](50) NULL,
 CONSTRAINT [PK__Subject__9F7CE1A83C9BDAAF] PRIMARY KEY CLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DepartID] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DOB] [date] NULL,
	[Phone] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK__Teacher__3214EC27AFF40405] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 7/23/2021 10:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SlotID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[RoomID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[SubCode] [nvarchar](50) NULL,
	[TeacherID] [nvarchar](50) NULL,
 CONSTRAINT [PK__Teach__3214EC271F7F57E3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Mail], [Password], [Role], [Active]) VALUES (12, N'HE140011@fpt.edu.vn', N'123123', N'Student', 1)
INSERT [dbo].[Account] ([AccountID], [Mail], [Password], [Role], [Active]) VALUES (13, N'HE140012@fpt.edu.vn', N'123123', N'Student', 1)
INSERT [dbo].[Account] ([AccountID], [Mail], [Password], [Role], [Active]) VALUES (14, N'HE140013@fpt.edu.vn', N'123123', N'Student', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendence] ON 

INSERT [dbo].[Attendence] ([AttendID], [TeachID], [StudentID], [isabsent], [comment]) VALUES (57, 38, N'HE140000', 1, N'')
INSERT [dbo].[Attendence] ([AttendID], [TeachID], [StudentID], [isabsent], [comment]) VALUES (58, 38, N'HE140001', 1, N'')
INSERT [dbo].[Attendence] ([AttendID], [TeachID], [StudentID], [isabsent], [comment]) VALUES (59, 38, N'HE140002', 1, N'')
GO
SET IDENTITY_INSERT [dbo].[Attendence] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [Code], [Active], [date]) VALUES (5, N'SE1400', 1, N'Fall2021')
INSERT [dbo].[Class] ([ClassID], [Code], [Active], [date]) VALUES (6, N'SE1401', 1, N'Fall2021')
INSERT [dbo].[Class] ([ClassID], [Code], [Active], [date]) VALUES (7, N'SE1402', 1, N'Fall2021')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
INSERT [dbo].[DateClass] ([dateID], [Start], [end]) VALUES (N'Fall2021', CAST(N'2021-09-05' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[DateClass] ([dateID], [Start], [end]) VALUES (N'Summer2021', CAST(N'2021-05-05' AS Date), CAST(N'2021-08-30' AS Date))
GO
INSERT [dbo].[Department] ([departid], [departName]) VALUES (N'AI', N'Artificial Intelligence')
INSERT [dbo].[Department] ([departid], [departName]) VALUES (N'CS', N'Computer Science')
INSERT [dbo].[Department] ([departid], [departName]) VALUES (N'DEL', N'Department of English Language')
GO
INSERT [dbo].[List_Class_Student] ([stuid], [classid]) VALUES (N'HE140000', 5)
INSERT [dbo].[List_Class_Student] ([stuid], [classid]) VALUES (N'HE140001', 5)
INSERT [dbo].[List_Class_Student] ([stuid], [classid]) VALUES (N'HE140002', 5)
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (1, N'P101')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (2, N'P102')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (3, N'p103')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
INSERT [dbo].[Slot] ([ID], [Timestart], [TimeEnd]) VALUES (1, CAST(N'07:30:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Slot] ([ID], [Timestart], [TimeEnd]) VALUES (2, CAST(N'09:10:00' AS Time), CAST(N'10:40:00' AS Time))
INSERT [dbo].[Slot] ([ID], [Timestart], [TimeEnd]) VALUES (3, CAST(N'10:50:00' AS Time), CAST(N'12:20:00' AS Time))
GO
INSERT [dbo].[Student] ([ID], [Name], [Major], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'HE140000', N'Nguyen Van Anh', N'SE', 1, CAST(N'2021-07-08' AS Date), N'0987654321', N'Ha Noi', 19)
INSERT [dbo].[Student] ([ID], [Name], [Major], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'HE140001', N'Nguyen Thanh Binh', N'SE', 0, CAST(N'2021-07-08' AS Date), N'0903245231', N'Da Nang', 20)
INSERT [dbo].[Student] ([ID], [Name], [Major], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'HE140002', N'Pham Xuan Thu', N'SE', 1, CAST(N'2021-07-08' AS Date), N'0843242351', N'Da Lat', 21)
GO
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName], [DepartID]) VALUES (N'AIP391', N'AI programming project', N'SE')
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName], [DepartID]) VALUES (N'ENL101', N'English 1', N'DEL')
INSERT [dbo].[Subject] ([SubjectCode], [SubjectName], [DepartID]) VALUES (N'ENL202', N'English 2', N'DEL')
GO
INSERT [dbo].[Teacher] ([ID], [Name], [DepartID], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'Duongtb', N'Trần Bình Dương', N'DM', 1, CAST(N'1980-07-08' AS Date), N'0123456789', N'HN', 17)
INSERT [dbo].[Teacher] ([ID], [Name], [DepartID], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'Kienlt', N'Luong Trung Kien', N'CS', 1, CAST(N'1980-07-08' AS Date), N'0123456789', N'Ha Noi', 81)
INSERT [dbo].[Teacher] ([ID], [Name], [DepartID], [Gender], [DOB], [Phone], [City], [AccountID]) VALUES (N'Thopn', N'Phạm Ngọc Thọ', N'SE', 1, CAST(N'1980-07-08' AS Date), N'0987654321', N'vn', 18)
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([ID], [SlotID], [Date], [RoomID], [ClassID], [SubCode], [TeacherID]) VALUES (38, 1, CAST(N'2021-06-28T00:00:00.000' AS DateTime), 1, 5, N'AIP391', N'Duongtb')
INSERT [dbo].[Timetable] ([ID], [SlotID], [Date], [RoomID], [ClassID], [SubCode], [TeacherID]) VALUES (39, 2, CAST(N'2021-06-28T00:00:00.000' AS DateTime), 1, 5, N'PRN292', N'Thopn')
INSERT [dbo].[Timetable] ([ID], [SlotID], [Date], [RoomID], [ClassID], [SubCode], [TeacherID]) VALUES (40, 3, CAST(N'2021-06-28T00:00:00.000' AS DateTime), 1, 5, N'PRO192', N'Thopn')
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Student]
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Teach] FOREIGN KEY([TeachID])
REFERENCES [dbo].[Timetable] ([ID])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Teach]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_DateClass] FOREIGN KEY([date])
REFERENCES [dbo].[DateClass] ([dateID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_DateClass]
GO
ALTER TABLE [dbo].[List_Class_Student]  WITH CHECK ADD  CONSTRAINT [FK_List_Class_Student_Class] FOREIGN KEY([classid])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[List_Class_Student] CHECK CONSTRAINT [FK_List_Class_Student_Class]
GO
ALTER TABLE [dbo].[List_Class_Student]  WITH CHECK ADD  CONSTRAINT [FK_List_Class_Student_Student] FOREIGN KEY([stuid])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[List_Class_Student] CHECK CONSTRAINT [FK_List_Class_Student_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Department] FOREIGN KEY([DepartID])
REFERENCES [dbo].[Department] ([departid])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Department]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Account]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK__Teach__SlotID__49C3F6B7] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([ID])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK__Teach__SlotID__49C3F6B7]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Teach_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Teach_Class]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Teach_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Teach_Room]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Subject] FOREIGN KEY([SubCode])
REFERENCES [dbo].[Subject] ([SubjectCode])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Timetable_Subject]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([ID])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Timetable_Teacher]
GO
USE [master]
GO
